<h2>TMC-tunnuksen yhdistäminen kevään 2016 yhteishakuusi</h2>
<br />
Hei,
<br />
<br />
Saamamme tiedon mukaan olet hakenut kevään 2016 yhteishaussa Helsingin Yliopiston tietojenkäsittelytieteen laitokselle ja merkannut hakevasi myös Ohjelmoinnin MOOCin kautta.
<br />
<br />
Jotta osaamme kutsua sinut MOOC-hakuun liittyvään näyttökokeeseen, tulee sinun kertoa meille TMC-tunnuksesi.
<br />
Se tapahtuu kirjautumalla sivulle TMC-tunnuksillasi sivulle: <a href="<%= link_tmc_url(@imported_user.key) %>"><%= link_tmc_url(@imported_user.key) %></a>.
<br />
Huomaa, että kyseessä on henkilökohtainen linkki, joten älä jaa sitä muille!
<br />
<br />
Mikäli sinulla on jotain kysyttävää voit vastata tähän viestiin.
<br />
<br />
Terveisin
<br />
MOOC-tiimi

