.container
  .row
    .col-md-3
      %ul.nav.nav-pills.nav-stacked.day-list
        - @interview_days.each do |day|
          - classs = (day.date.beginning_of_day < Time.new.beginning_of_day) ? 'past' : ((day.date.beginning_of_day.strftime("%y%m%d") == Time.new.beginning_of_day.strftime("%y%m%d")) ? 'today' : 'future')
          %li{class: classs}
            %a{href: day.date.strftime("#%d-%m-%y")}= day.date.strftime("%a %d.%m.%y")


    .col-md-9
      %table.table
        - @interview_days.each do |day|
          %thead
            %tr
              %th
                %strong{id: day.date.strftime("%d-%m-%y")}= day.date.strftime("%a %d.%m.%y")
          %tbody
            - day.interviews.each do |interview|

              = render 'interview_details', interview: interview
