.container
  .row
    .col-md-6.col-md-offset-3
      %table.table
        - @interview_days.each do |day|
          %thead
            %tr
              %th
                %strong Day:
                = day.date.strftime("%d.%m.%y")
          %tbody
            - day.interviews.each do |interview|

              = render 'interview_details', interview: interview
