.row-fluid
  .col-md-6.col-md-offset-3
    %table.table
      %thead
        %tr
          %th Date
          %th # of applicants

      %tbody
        - @interview_day.each do |day|
          %tr
            %td= link_to day.date.strftime("%a %d.%m.%Y klo  %H:%M"), interview_day_path(day)
            %td= day.applicants.count
