<h2>MOOC ajanvarauksen vahvistus</h2>
Hei,
<br />
<br />
Varaamasi MOOC haastattelun aika on: <%= @interview_time %>.
<br />
<br />
Mikäli haluat muuttaa varaamaasi aikaa, voit tehdä sen osoitteessa: <a href="<%= applicant_url(@applicant.key) %>"><%= applicant_url(@applicant.key) %></a>.
<br />
Huomaa, että kyseessä on henkilökohtainen linkki, joten älä jaa sitä muille!
