// Place all the styles related to the interviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.day-limiter {
  list-style: none;
}


.interview-days-list {
  list-style: none;
}

tr {
  &.free {
    background-color: #A8CD1B;
}
&.disabled {
  background-color: #F3FAB6;
}
&.reserved {
  background-color: #D9853B;
}
}
tbody > tr{
}
table form {
  margin: 0 0 0 0px;
}
td.empty {
  width: 20px;
}

ul.day-list {

  padding-top: 50px;
  li {
    border-radius: 4px;
    background-color: #ee6557 /*#16a6b6*/;
    a{
      &:link {
        color: white;
      }
      &:visited {
        color: white;
      }
      &:hover {
        color: white;
      }
      &:active {
        color: white;
      }
    }
  }
}
