<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
    <p>
    Sait viestin, sill채 osallistuit ohjelmoinnin mooc 2016 kurssille.
    <br />
    <br />
    Mik채li sait viestin vahingossa, laitathan siit채 viesti채 meille osoitteeseen mooc@cs.helsinki.fi
    </p>
  </body>
</html>
